.container {
    justify-content: center;
    background: radial-gradient(rgb(111 203 93) ,rgb(27 92 11));
}

.seatingCircle {
    background: radial-gradient(#cb1c1e 45%, #59121c);
    position: relative;
    width: 85%;
    height: 75%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.seatingCircle button {
    color: black;
    background-color: white;
    width: 15vw;
    height: 10vh;
    font-size: 20px;
}

app-playing-area {
    width: 45%;
    height: 50%;
}

