<div class="playerIdentity">
    <img src="../../../assets/images/default-player-image.png" alt="">
    <p class="playerName">KelvinPoker</p>
    <a routerLink="/">
        <mat-icon class="exitIcon" style="transform: rotate(180deg)">exit_to_app</mat-icon>
    </a>
</div>
<div class="stats">
    <div class="banner">
        <img src="../../../assets/images/00078 Banner.png" alt="">
        <div class="statsTitle">
            Game Statistics
        </div>
    </div>
    <div class="statValues">
        <div>
            <p><span class="statValueCategory">Hands Won</span><br><br>10</p>
            <p><span class="statValueCategory">Hands Lost</span><br><br>60</p>
        </div>
        <div>
            <p><span class="statValueCategory">Hands Folded</span><br><br>12</p>
            <p><span class="statValueCategory">Winning Hand %</span><br><br>30%</p>
        </div>
        <div>
            <p><span class="statValueCategory">Total $$ Won</span><br><br>$520</p>
            <p><span class="statValueCategory">Total $$ Lost</span><br><br>$100</p>
        </div>
        <!-- <div>
            <p><span class="statValueCategory">Games Won</span><br><br>10</p>
        </div> -->
    </div>
</div>
