<div class="buttons">
    <div class="singlePlayer">
        <button routerLink="/game-settings">
            <div class="left">
                <img class="cards c1" src="../../../assets/images/cards/10H.png" alt="">
                <img class="cards c2" src="../../../assets/images/cards/JH.png" alt="">
                <img class="cards c3" src="../../../assets/images/cards/QH.png" alt="">
                <img class="cards c4" src="../../../assets/images/cards/KH.png" alt="">
                <img class="cards c5" src="../../../assets/images/cards/AH.png" alt="">
            </div>
            <div class="right">
                Single-Player
            </div>
        </button>
    </div>
    <div class="multiPlayer">
        <button>
            <div class="left">
                Multi-Player
            </div>
            <div class="right">
                <img class="cards c1 " src="../../../assets/images/cards/5S.png" alt="">
                <img class="cards c2" src="../../../assets/images/cards/6S.png" alt="">
                <img class="cards c3" src="../../../assets/images/cards/7S.png" alt="">
                <img class="cards c4" src="../../../assets/images/cards/8S.png" alt="">
                <img class="cards c5" src="../../../assets/images/cards/9S.png" alt="">
            </div>
        </button>
    </div>
    <div class="manageSettings">
        <button>
            <div class="left">
                <img class="cards c1" src="../../../assets/images/cards/AD.png" alt="">
                <img class="cards c2" src="../../../assets/images/cards/AS.png" alt="">
                <img class="cards c3" src="../../../assets/images/cards/AH.png" alt="">
                <img class="cards c4" src="../../../assets/images/cards/AC.png" alt="">
                <img class="cards c5" src="../../../assets/images/cards/KH.png" alt="">
            </div>
            <div class="right">
                Manage Settings
            </div>
        </button>
    </div>
    <div class="needHelp">
        <button>
            <div class="left">
                Need Help?
            </div>
            <div class="right">
                <img class="cards c1" src="../../../assets/images/cards/KS.png" alt="">
                <img class="cards c2" src="../../../assets/images/cards/KH.png" alt="">
                <img class="cards c3" src="../../../assets/images/cards/QD.png" alt="">
                <img class="cards c4" src="../../../assets/images/cards/QH.png" alt="">
                <img class="cards c5" src="../../../assets/images/cards/QC.png" alt="">
            </div>
        </button>
    </div>
</div> 

<button routerLink="/game-floor">To Game Floor</button>
