.container {
    justify-content: center;
    /* background: linear-gradient(to right top, rgb(81, 177, 81), lightgreen); */
    /* background: linear-gradient(to right top, rgb(27 92 11) ,rgb(111 203 93)); */
    background: radial-gradient(rgb(111, 203, 93) ,rgb(20, 75, 6));
}

.dashboard {
    /* border: 1px solid white; */
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2000px 2000px 2000px rgb(231 231 231 / 50%);
}

/* .dashboard > * {
    border: 1px solid green;
} */

app-profile {
    flex: 1;
    height: 100%;
    /* border: 1px solid green; */
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
}

app-console {
    flex: 2;
    height: 100%;
    border-radius: 10px;
    /* border: 1px solid green; */
}