.player1,
.bot1,
.bot2,
.bot3,
.bot4,
.bot5 {
    background-color: rgb(62, 65, 66);
    position: absolute;
    border: 1px solid black;
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.playingCards img {
    height: 100%;
    display: none;
}


.dealerChip {
    position: absolute;
    left: 0;
    width: 20%;
}

p {
    color:lightblue;
}

.playingCards {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.playerText {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.player1 {
    left: 35%;
    bottom: -10%;
}

.bot1 {
    left: -5%;
    bottom: 15%;
}

.bot2 {
    left: -5%;
    top: 15%;
}

.bot3 {
    left: 35%;
    top: -10%;
}

.bot4 {
    left: 75%;
    top: 15%;
}

.bot5 {
    left: 75%;
    bottom: 15%;
}