<div class="player1">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p1c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p1c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>KelvinPoker</p>
        <p>$1,250</p>
    </div>
</div>
<div class="bot1">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p2c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p2c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>Bot 1</p>
        <p>$1,754</p>
    </div>
</div>
<div class="bot2">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p3c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p3c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>Bot 2</p>
        <p>$500</p>
    </div>
</div>
<div class="bot3">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p4c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p4c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>Bot 3</p>
        <p>$11,350</p>
    </div>
</div>
<div class="bot4">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p5c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p5c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>Bot 4</p>
        <p>$450</p>
    </div>
</div>
<div class="bot5">
    <img class="dealerChip" src="../../../assets/images/dealerChip.png" alt="">
    <div class="playingCards">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p6c1'] }}.png" alt="">
        <img [style.display]="displayCards()" src="../../../assets/images/cards/{{ playerHand['p6c2'] }}.png" alt="">
    </div>
    <div class="playerText">
        <p>Bot 5</p>
        <p>$5,700</p>
    </div>
</div>